@font-face {
  font-family: 'Mulish';
  src: url('./../fonts/Mulish-Bold.woff2') format('woff2'),
      url('./../fonts/Mulish-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mulish';
  src: url('./../fonts/Mulish-Regular.woff2') format('woff2'),
      url('./../fonts/Mulish-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}